

body{
    /*
    background-color: #86abb0;
    background-image: url(image/back.JPG);
    background-size: 1300px;
    background-position: center;
    background-repeat: no-repeat; => (pengulangan)
    background-attachment: fixed; => (scrol)
    */
    background: #86abb0 url(image/back.JPG) center no-repeat fixed;
    background-size: 1300px;

    font-family: sans-serif;
}

/*---- Selector ID dan class | background color ----*/
.biru{
    color: yellowgreen;
}

#backg{
    background-color: rgb(155, 22, 155);
    max-width: 200px;
}

h6{
    color: teal;
}

/*Selector untuk memilih semua elemen yang ada didalam elemen
div "nama elemen"{
}*/

/*selector untuk memilih elemen yang langsung dibawah div
div > nama elemen{
}*/

/*dua elemen sekaligus
h1,h2{
}*/

/* memilih div setelah div
div + div{
}*/

/*memilih semua bagian yang ada dibawahnya
div ~ p{
}*/


/*---- text decoration ----*/
h1{
    text-align: center;
    text-transform: uppercase;
}

h2{
    text-transform: capitalize;
}

#par{
    margin: 10px 10px 10px 10px;
}

#paragraf{
    text-align: justify;
    text-indent: 30px;
    color: rgb(100, 102, 190);
    background-color: rgb(211, 205, 243);
    letter-spacing: 1.5px;
    word-spacing: 5px;
    line-height: 17px;
    line-break: normal;
    
    margin-left: 0px;
    margin-right: 0px;

    /* +dimensi */
    /*width: 1200px;
    height: 100px;*/

    padding: 20px;
}

#copyright{
    text-align: center;
    clear: both;
}


/*---- belajar font ----*/
#sebutkan{
    font-size: 35px;
    background-color: cornsilk;
    font-weight: bolder;

    /* +dimensi max */
    max-width: 65%;
    max-height: 0%;
}


/*---- menghias link | kondisi biasanya ----*/
.menu:link{
    background: orange;
    font-size: 20px;
}
/* kondisi setelah dikujungi */
.menu:visited{
    background: green;
}
/* kondisi hover */
.menu:hover{
    background:  greenyellow;
}
/* kondisi active */
.menu:active{
    background: red;
}


/*---- display ----*/
.menu{
    margin: 0 0 0 0;
    display: inline-block;
    /*width:70px;
    height:50px;*/
    text-decoration: none;

    /*
        border-width: 3px;
        border-style: solid
        border-color: orange;    
    */
    border: 3px solid rgb(255, 204, 108);

    /*---- padding ----*/
    padding: 10px;
}


/*---- menghilangkan element ----*/
#iglost{
    visibility: hidden;
}


/*---- box model dan margin => margin: top right bottom left; ----*/

 /*---- Mengatur Posisi Elemen ----*/
iframe{
    /* position: relative;
    left: 500px; */
    /*position: absolute;
    left: 1000px;*/
    position: fixed;
    left: 1000px;
    bottom: 50px;

    /*z-index*/
    z-index: -1;
}


/*---- flot and clear ----*/
img{
    float: right;
}

#formboth{
    clear: S;
}


/*---- hover ----*/

#formboth h2:hover{
    color: chartreuse;
    background-color: mintcream;
    max-width: 220px;
}


/*---- focus ----*/
input:focus, textarea:focus{
    background: olivedrab;
}